version: '3.8'

services:
  behavioral-detection:
    build: .
    container_name: behavioral_detection
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
